.title-navbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title-navbar h2{
    letter-spacing: 5px;
}
.title-navbar hr{
    width: 150px;
    height: 5px;
    background-color: #4C3575;
}
.section{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 10px auto;
}
.section li{
    text-align: center;
    color: #7858A6;
    list-style: none;
    font-size: 14px;
}
.section li > a{
    transition: all 0.2s ease-in;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #371B58;
}
.section li > a:hover, .active{
    border: none!important;
    border-radius: 0!important;
    font-weight: bold;
}
@media only screen and (max-width: 680px) {
    .section{
        display: block;
        gap: 0;
    }
    .section li{
        margin: 20px auto;
        padding: 5px;
        max-width: 200px;
    }
    .active{
        visibility: visible!important;
        margin: 0 auto;
    }
}