.profile{
    display: grid;
    grid-template-columns: 350px auto;
    align-items: center;
    margin: 4rem auto;
    max-width: 1600px!important;
}
.img-profile{
    width: 200px!important;
    max-width: 200px;
    box-shadow: 15px 15px 3px #4D77FF;
    border-radius: 20px!important;
}
.img-profile img{
    border-radius: 20px!important;
}
.name-profile h2, .name-profile h3{
    font-family: 'Cabin', sans-serif;
}

@media only screen and (max-width: 680px) {
    .profile{
        grid-template-columns: auto;
        justify-content: center!important;
        text-align: center;
    }
}