.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 1600px!important;
}
.img-profile { width: 200px; border-radius: 50%; } 
.img-profile img { width: 100%; clip-path: circle(); }

.name-profile h2{
    letter-spacing: 5px;
    font-size: 30px;
}

.name-profile h3{
    color: #5B4B8A;
    font-size: 13px;
}

@media only screen and (max-width: 680px) {
    .profile{
        grid-template-columns: auto;
        justify-content: center!important;
        text-align: center;
    }
}