.projects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    gap: 20px;
}
.projects > a:hover,.projects > a:hover p{
    background-color: #5B4B8A;
    color: #ECECEC;
    transition: all 0.5 ease-in-out;
}
.projects h2{
    text-align: center; 
    text-transform: uppercase;
    padding: 0 10px;
}
.projects p{
    margin: 0 15px;
    transition: all 0.5 ease-in-out;
    color: #7858A6;
}
.projects > a{
    transition: all 0.5 ease-in-out;
    border-radius: 10px;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
    background-color: #ffffff;
}
.projects > a img{
    object-fit: cover;
}
.projects > a > div{
    display: flex;
    gap: 10px;
    margin: 15px;
    flex-wrap: wrap;
}
.projects > a > div:first-child{
    display: flex;
}
.projects .stack-lang{
    padding: 5px;
    background-color: #7858A6;
    border-radius: 5px;
    color: #F1F1F1;
    font-weight: bold;
    letter-spacing: 2px;
}
.github-section{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.github-section a:hover{
    display: inline-block;
    background-color: #b0b2b2;
    transition: all 0.5s ease-out;
    color: #5B4B8A;
    border-radius: none;
}
.github-section a{
    border-radius: 10px;
    padding: 10px 20px!important;
    background-color: #5B4B8A;
    color: white;
    content: 'haloo';
}

@media only screen and (max-width: 950px) {
    .projects{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width: 600px) {
    .projects{
        grid-template-columns: 1fr;
    }
}